<div class="container w-25">
  <h1 class="lead">Reset Password</h1>
  <div class="row">
    {% render 'form-error', form: form %}
      {% form  'reset_customer_password' %}
        <div class="col-12">
          <label for="activate_password1" class="form-label">Type password</label>
          <input class="form-control" type="password" id="activate_password1" name="customer[password]">
        </div>
        <div class="col-12">
          <label for="activate_password2" class="form-label">Confirm Password</label>
          <input class="form-control" type="password" id="activate_password2" name="customer[password_confirmation]">
        </div>
        <div class="col-12 mt-2">
          <button type="submit" class="btn btn-primary rounded-0 w-100">Reset Password</button>
        </div>
    {% endform %}
  </div>
</div>