<div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
    <div class="row">
      {% form 'contact' %}
        {% if form.posted_successfully? %}
        <div class="alert alert-success">
          Thank you for your contact {% endif %}
        </div>
        {{ form.errors | default_errors }}
        <div class="row">
          <div class="col-12 col-md-6"> 
            <label for="ContactFormName">name</label>
            <input class="form-control" type="text" id="ContactFormName" name="contact[name]">
          </div>
          <div class="col-12 col-md-6">
            <label for="ContactFormEmail">email</label>
            <input class="form-control" type="email" id="ContactFormEmail" name="contact[email]">
          </div>
        </div>
        <label for="ContactOrderNumber"> Order #</label>
        <input class="form-control" type="text" name="contact[order_num]" id="contactOrderNumber">
        <label for="ContactFormPhone">phone</label>
        <input class="form-control" type="tel" id="ContactFormPhone" name="contact[phone]">
        <label for="ContactFormMessage">message</label>
        <textarea class="form-control" rows="10" id="ContactFormMessage" name="contact[body]"></textarea>
        <input type="submit" value="send" class="btn btn-success w-100 my-2">
      {% endform %}
    </div>
  </div>
  
  
  